@page
@model LoginModel
@inject UserManager<User> UserManager
@inject Microsoft.Extensions.Options.IOptionsMonitor<Honeydew.Models.IdentityOptions> Options

@{
    ViewData["Title"] = "Log in";
}

<div class="p-2 sm:p-4">
    <h1 class="text-3xl mb-6">@ViewData["Title"]</h1>
    <div class="flex space-x-4">
        <section class="w-2/5">
            <form id="account" method="post">
                <h4 class="text-lg">Use a local account to log in.</h4>
                <hr class="mt-2 mb-4" />

                <div asp-validation-summary="All" class="text-red-500"></div>

                <label asp-for="Input.Email" class="block">
                    <span class="text-gray-700">Email</span>
                    <input asp-for="Input.Email" class="form-input mt-1 block w-full" placeholder="user@example.com">
                </label>

                <span asp-validation-for="Input.Email" class="mt-2 text-red-500"></span>

                <label asp-for="Input.Password" class="mt-4 block">
                    <span class="text-gray-700">Password</span>
                    <input asp-for="Input.Password" class="form-input mt-1 block w-full" placeholder="********">
                </label>

                <span asp-validation-for="Input.Password" class="text-red-500"></span>

                <label asp-for="Input.RememberMe" class="flex items-center">
                    <input asp-for="Input.RememberMe" type="checkbox" class="form-checkbox">
                    <span class="ml-2">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
                </label>

                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    @if (!(UserManager.Users.Any() && !Options.CurrentValue.AllowRegistration))
                    {
                        <p>
                            <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                        </p>
                    }
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
        @if ((Model.ExternalLogins?.Count ?? 0) > 0)
        {
            <section class="w-3/5">
                <h4 class="text-lg">Use another service to log in.</h4>
                <hr class="mt-2 mb-4" />

                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                            }
                        </p>
                    </div>
                </form>
            </section>
        }
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
