@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}

<p class="text-gray-600">Your login is protected with an authenticator app. Enter your authenticator code below.</p>

<form method="post" class="my-4" asp-route-returnUrl="@Model.ReturnUrl">
    <input asp-for="RememberMe" type="hidden" />
    <div asp-validation-summary="All"></div>

    <label class="form-group" asp-for="Input.TwoFactorCode">
        <span class="form-label">@Html.DisplayNameFor(x => x.Input.TwoFactorCode)</span>
        <input asp-for="Input.TwoFactorCode" class="form-input" autocomplete="off" />
    </label>

    <label class="form-group flex items-center">
        <input class="form-checkbox" asp-for="Input.RememberMachine" />
        <span class="ml-2">@Html.DisplayNameFor(m => m.Input.RememberMachine)</span>
    </label>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>

<hr class="my-4" />

<p class="text-gray-600">
    Don't have access to your authenticator device? You can
    <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl" asp-route-rememberMe="@Model.RememberMe">log in with a recovery code</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
