@page
@model LoginModel
@inject UserManager<User> UserManager
@inject Microsoft.Extensions.Options.IOptionsMonitor<Honeydew.Models.IdentityOptions> Options

@{
    ViewData["Title"] = "Log in";
}

<form id="account" method="post">

    <label asp-for="Input.Email" class="form-group">
        <span class="form-label">Email</span>
        <input asp-for="Input.Email" class="form-input" placeholder="user@example.com">
        <span asp-validation-for="Input.Email"></span>
    </label>


    <label asp-for="Input.Password" class="form-group">
        <span class="form-label">Password</span>
        <input asp-for="Input.Password" class="form-input" placeholder="********">
        <span asp-validation-for="Input.Password"></span>
    </label>


    <label asp-for="Input.RememberMe" class="form-group">
        <input asp-for="Input.RememberMe" type="checkbox" class="form-checkbox">
        <span class="ml-2">@Html.DisplayNameFor(m => m.Input.RememberMe)</span>
    </label>

    <div class="form-group flex items-center justify-between">
        <button type="submit" class="btn btn-primary">Log in</button>
    </div>
</form>

<hr class="my-4" />

<p>
    <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
</p>

<p>
    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
</p>

@if ((Model.ExternalLogins?.Count ?? 0) > 0)
{
    <section>
        <h4 class="text-lg">Use another service to log in.</h4>
        <hr class="mt-2 mb-4" />

        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
    </section>
}

@if (!(UserManager.Users.Any() && !Options.CurrentValue.AllowRegistration))
{
    <div class="-m-4 mt-8 p-4 flex items-center justify-center bg-gray-600 text-white shadow">
        Need an account? <a class="ml-2 text-purple-200 hover:text-white active:text-white" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up!</a>
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
