@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All"></div>

    <label class="form-group" asp-for="Input.Email">
        <span class="form-label">@Html.DisplayNameFor(x => x.Input.Email)</span>
        <input asp-for="Input.Email" class="form-input" />
        <span asp-validation-for="Input.Email"></span>
    </label>

    <label class="form-group" asp-for="Input.Password">
        <span class="form-label">@Html.DisplayNameFor(x => x.Input.Password)</span>
        <input asp-for="Input.Password" class="form-input" />
        <span asp-validation-for="Input.Password"></span>
    </label>

    <label class="form-group" asp-for="Input.ConfirmPassword">
        <span class="form-label">@Html.DisplayNameFor(x => x.Input.ConfirmPassword)</span>
        <input asp-for="Input.ConfirmPassword" class="form-input" />
        <span asp-validation-for="Input.ConfirmPassword"></span>
    </label>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Register</button>
    </div>
</form>

@if ((Model.ExternalLogins?.Count ?? 0) > 0)
{
    <section>
        <h4>Use another service to register.</h4>
        <hr />

        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div>
                <p>
                    @foreach (var provider in Model.ExternalLogins)
                    {
                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                    }
                </p>
            </div>
        </form>
    </section>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
