<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="_HtmlHeadTagsPartial" />

    <meta name="twitter:title" content="@ViewData["Title"]" />
    <meta name="twitter:image" content="@(ViewData["og:image"] ?? Context.Request.Scheme + "://" + Context.Request.Host + Url.Content("~/assets/logo.png"))" />

    <meta property="og:site_name" content="Honeydew" />
    <meta property="og:title" content="@ViewData["Title"]" />

    @if (ViewData["og:description"] as string != "")
    {
        <meta name="twitter:description" content="@(ViewData["og:description"] ?? "Upload your files and share them anywhere with honeydew!")" />
        <meta property="og:description" content="@(ViewData["og:description"] ?? "Upload your files and share them anywhere with honeydew!")" />
    }

    <meta property="og:type" content="@(ViewData["og:type"] ?? "website")" />
    <meta property="og:url" content="@(ViewData["og:url"] ?? Context.Request.GetDisplayUrl())" />
    <meta property="og:image" content="@(ViewData["og:image"] ?? Context.Request.Scheme + "://" + Context.Request.Host + Url.Content("~/assets/logo.png"))" />

    @await RenderSectionAsync("Head", required: false)
</head>
<body class="h-screen flex flex-col bg-gray-100">
    @if (!((ViewData["HideHeader"] is bool hide) && hide))
    {
        <header>
            <nav class="flex items-center justify-between space-x-4 pl-2 pr-4 py-2">
                <a class="brand flex items-center" asp-area="" asp-page="/Index">
                    <img class="h-10 mr-3" src="@Url.Content("~/assets/logo.png")" />
                    Honeydew
                </a>
                <partial name="_LoginPartial" />
            </nav>
        </header>
    }

    <main role="main" class="flex-grow">
        @RenderBody()
    </main>

    <footer class="flex items-center justify-center min-h-16 text-gray-400">
        &copy; 2020 - Honeydew
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script async src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
