@page
@using Microsoft.AspNetCore.Authorization
@model IndexModel
@attribute [Authorize]

@{
    ViewData["Title"] = "Home page";
}

<div class="mb-4">
    <partial name="_Uploader" />
</div>

<div class="p-4">
    <div class="space-y-4">
        @foreach (var upload in Model.UserUploads)
        {
            var link = Url.PageLink("Upload", values: new { id = upload.Id });
            var patchLink = Url.Action("PatchUpload", "Upload", new { id = upload.Id });

            <div class="upload-item p-4 mx-auto max-w-3xl sm:flex items-start justify-between shadow hover:shadow-lg transform transition-all duration-100 ease-in-out hover:-translate-y-1 rounded bg-white">
                <div class="flex-grow mb-4 sm:mb-0 sm:mr-8">
                    <div class="form-group mb-4">
                        <input class="form-input" value="@upload.Name" onchange="updateName(`@patchLink`, this)" autocomplete="off" spellcheck="false" />
                        <label class="form-attachment">@upload.Extension</label>
                    </div>

                    <a class="h-full" asp-page="Upload" asp-route-id="@upload.Id">@link</a>
                </div>

                <div class="flex sm:block items-stretch sm:justify-end">
                    @if (MediaTypeHelpers.ParseMediaType(upload.MediaType) == MediaType.Text)
                    {
                        <select class="sm:w-full form-select mr-2 sm:mr-0 sm:mb-2"
                                name="CodeLanguage"
                                asp-items="CodeLanguageHelper.GetLanguages(upload.CodeLanguage)"
                                onchange="updateCodeLanguage(`@patchLink`, this)">
                        </select>
                    }
                    else
                    {
                        <span class="flex-grow"></span>
                    }

                    <div class="flex items-stretch h-100">
                        <partial name="_UploadActionButtons" model="upload" />

                        @if (Model.AllowDeletion)
                        {
                            <button class="link flex items-center border-red-500 hover:text-red-700 text-red-500 ml-2 h-8 px-2 border rounded mr-2" onclick="deleteUpload(`@Url.Action("DeleteUpload", "Upload", values: new { Id = upload.Id })`, this)" title="Delete Upload">
                                <i class="trash-icon fas fa-trash-alt"></i>
                                <i class="undo-icon hidden fas fa-undo"></i>
                                <span class="text hidden lg:inline ml-2">Delete</span>
                            </button>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function updateCodeLanguage(url, select) {
            const codeLanguage = select.value;

            select.disabled = true;
            select.classList.add('loading');

             patch(url, { @nameof(PatchUploadModel.CodeLanguage): codeLanguage })
                .catch(err => console.log(err))
                .finally(() => {
                    input.disabled = false;
                    input.classList.remove('loading');
                });
        }

        function updateName(url, input) {
            const value = input.value;

            input.disabled = true;
            input.classList.add('loading');

            patch(url, { @nameof(PatchUploadModel.Name): value })
                .catch(err => console.log(err))
                .finally(() => {
                    input.disabled = false;
                    input.classList.remove('loading');
                });
        }

    @if (Model.AllowDeletion)
    {
<text>
        function deleteRow(subitem) {
            const parent = subitem.closest(".upload-item")

            if (parent) {
                parent.remove();
            }
        }

        let timeouts = {};

        function deleteUpload(url, button) {
            button.disabled = true;
            button.classList.add('loading');

            fetch(url, { method: 'DELETE' })
                .then(() => {
                    @if (Model.ScheduledDeletion)
                    {
<text>
                    const trashIcon = button.querySelector(".trash-icon");
                    const undoIcon = button.querySelector(".undo-icon");
                    const text = button.querySelector(".text");

                    if (button.classList.contains("pending-undo")) {
                        clearTimeout(timeouts[url]);

                        button.classList.remove("pending-undo");

                        trashIcon.classList.remove("hidden");
                        undoIcon.classList.add("hidden");
                        text.innerText = "Delete";
                    } else {
                        button.classList.add("pending-undo");

                        trashIcon.classList.add("hidden");
                        undoIcon.classList.remove("hidden");
                        text.innerText = "Undo";

                        @* once the thing is deleted the server, delete the row if the container still exists on the page *@
                        timeouts[url] = setTimeout(() => {
                            deleteRow(button);
                        }, @(Model.ScheduledDeletionTime * 1000));
                    }
</text>
                    }
                    else
                    {
<text>
                    deleteRow(button);
</text>
                    }
                })
                .catch(err => {
                    console.error(err);
                })
                .finally(() => {
                    button.disabled = false;
                    button.classList.remove('loading');
                });
        }
</text>
    }
    </script>
}