@page
@using Microsoft.AspNetCore.Authorization
@model IndexModel
@attribute [Authorize]

@{
    ViewData["Title"] = "Home page";
}

<div class="mb-12">
    <partial name="_Uploader" />
</div>

<table>
    <thead>
        <tr>
            <th>File</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var upload in Model.UserUploads)
        {
            <tr>
                <td><a asp-page="Upload" asp-route-id="@upload.Id">@upload.Name</a></td>
                <td>
                    @if (MediaTypeHelpers.ParseMediaType(upload.MediaType) == MediaType.Text)
                    {
                        <select class="form-select"
                                name="CodeLanguage"
                                asp-items="CodeLanguageHelper.GetLanguages(upload.CodeLanguage)"
                                onchange="updateCodeLanguage(`@Url.Action("PatchUpload", "Upload", new { id = upload.Id })`, this)">
                        </select>
                    }
                </td>
                <td>
                    <div class="m-2 flex items-center md:justify-end">
                        <button class="link px-2 border rounded mr-2" onclick="copyText(`@Url.PageLink("Upload", values: new { id = upload.Id })`)" title="Copy link">
                            <span class="hidden lg:inline mr-2">Copy</span>
                            <i class="fas fa-link"></i>
                        </button>
                        <a target="_blank" class="px-2 border rounded mr-2" asp-controller="Upload" asp-action="Raw" asp-route-id="@upload.Id" title="View raw file">
                            <span class="hidden lg:inline mr-2">Raw</span>
                            <i class="fas fa-eye"></i>
                        </a>
                        <a target="_blank" class="px-2 border rounded" asp-controller="Upload" asp-action="Download" asp-route-id="@upload.Id" title="Download file">
                            <span class="hidden lg:inline mr-2">Download</span>
                            <i class="fas fa-download"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        function updateCodeLanguage(url, select) {
            const codeLanguage = select.value;

            select.disabled = true;
            select.classList.add('loading');

            fetch(url, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ @nameof(PatchUploadModel.CodeLanguage): codeLanguage })
            })
                .then(() => {
                })
                .catch(err => console.log(err))
                .finally(() => {
                    select.disabled = false;
                    select.classList.remove('loading');
                });
        }
    </script>
}